.topSearch {
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
}

.mainHead {
    margin-left: 2.5%;
    font-size: 44px;
}

.one {
    flex: 2;
}

.two,
.three {
    flex: 1;
    /* font-size: 18px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
    padding-left: 50px;
    border: none;
    background: rgba(48, 77, 109, 0.1); */
}

.topSearch input {
    width: 95%;
    font-size: 18px;
    margin-right: 10px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    padding-left: 35px;
    border: none;
    background: rgba(48, 77, 109, 0.1);

}

::placeholder {
    color: #192839;
}

.iconInput {
    background: #d9dfe4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 50px;
    top: -30px;
    color: #192839;
}

.iconInput svg {
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: .4rem;
    border-radius: 8px;
    width: 250px;
    /* height: 220px; */
    /* padding: 8px; */
    color: #192839;
}

.head {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.icons {
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

.roundNo {
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    background-color: #F9DB6D;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: -10px;
}

.yellowCapsule {
    background: #F9DB6D;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    margin-top: 16px;
}

.yellowCapsule2 {
    background: #F9DB6D;
    border-radius: 22px;
    width: 30%;
    margin-top: 2px;
    font-size: 16px;
    padding: 4px 12px;
}

.enterButton {
    background: #41D3BD;
    border-radius: 8px;
    padding: 4px 12px;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s;

}

.enterButton:hover {
    background: #48efd6;
}

.leaveButton {
    background: #FF8898;
    border-radius: 8px;
    padding: 4px 12px;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s;
}

.leaveButton:hover {
    background: #f96d80;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.listElement {
    width: 95%;
    margin-left: 2.5%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 24px;
    padding: 4px 12px;
    padding-right: 0;
    margin-bottom: 20px;
}

.leaveBtn {
    padding: 4px 12px;
    background: #FF8898;
    border-radius: 8px;
    border-color: #FF8898;
    font-weight: 700;
    border-style: solid;
    cursor: pointer;
    transition: all .3s;
}

.leaveBtn:hover {
    background: #f96d80;
}